:root {
  --orange: #ff6d00;
}

@font-face {
  font-family: "Roboto";
  src: url("/public/webfonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Lobster";
  src: url("/public/webfonts/Lobster-Regular.ttf");
}

body {
  font-family: "Roboto", serif;
}

.lobster {
  font-family: "Lobster";
}

#containerNavbar {
  background-color: white;
  min-width: 75px;
}

#navbarLogo {
  color: var(--orange);
  font-family: "Lobster";
  font-size: 52px;
}

button.navbar-toggler {
  border: none;
}
button.navbar-toggler:active { 
  border: none!important;
}
a.nav-link {  
  font-weight: bold;
}
a.nav-link.active {
  color: var(--orange)!important;
}

#introDiv #nombre {
  color: var(--orange);
  font-family: "Lobster";  
}

#introDiv #perfil, h3 {  
  font-family: var(--bs-font-monospace);
  font-weight: bold;
  margin-top: 1rem;
}

div.seccion:nth-child(odd) {
  background-color: var(--orange);
  color: white;
}

#emailContacto, #iconoLinkedin {
  /* color: var(--orange); */
  color: white;
}

.carousel-inner {
  border: 5px solid white;
  border-radius: 15px;
}

#divIrAPrincipio {
  bottom: 15px;
  right: 5px;  
  position: fixed;  
}

.btnNaranja {
  background-color: var(--orange);
  border-color: var(--orange);
  border-radius: 2rem;
  color: white;
}

.btnBlanco {
  background-color: white;
  border-color: white;
  border-radius: 2rem;
  color: var(--orange);
}

